/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  font-size: 1.05em;
  line-height: 1.25em;
  font-family: 'Roboto', sans-serif;
  background: #fff;
  color: #555;
}
