$background-color: white;
$separator-color: #f5f5f5;
/* Mobile first */
.pricing {
  position: relative;
  background-color: white;
  border-radius: 15px;
  width: 95%;
  margin: 20px 10px;
  &-container{
    display: grid;
    grid-gap: 1em;
    text-align: center;
  }
  &-title {
    font-size: 14px;
    color: #358ED7;
    letter-spacing: 1.3px;
    text-align: center;
    line-height: 14px;
    text-transform: uppercase;
    min-height: 70px;
    top: 50%;
    transform: translateY(50%);
  }
  &-value {
    font-size: 52px;
    color: #43484D;
    letter-spacing: -2px;
    text-align: center;
    line-height: 58px;
  }
  &-description {
    font-size: 16px;
    color: #86939E;
    letter-spacing: 0;
    text-align: center;
    line-height: 25px;
  }
  &-purchaseButton {
    background-color: white;
    border-radius: 5px;
    border: 1.5px solid #E1E8EE;
    color: black;
    height: 40px;
    margin-bottom: 20px;
    width: 95%;
  }
  & hr{
    border-top: 1px solid #E1E8EE;
    width: 90%;
  }
  & ul {
    list-style-type: none;
    padding: 0;
    margin: 1em;
    padding-inline-start: 40px;
    text-align: left;
  }
  & li {
    color: #3f3f3f
  }
  & li.approved {
    background: url('../../../assets/check.svg') no-repeat left top;
    height: 40px;
    padding-left: 20px;
    color: black;
  }
  & article {
    border: 1px solid #f5f5f5;
    color: black;
    border-radius: 15px;
  }
  & blockquote {
    min-height: 115px
  }
  &-best {
    background-color: #39ADD1;

    & button, h3, span, p, li {
      color: white !important;
    }
    & button{
      background: #7DC855;
    }
  }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 550px) {
  .pricing {
    background-color: white;
    width: 100%;
    margin: 20px auto;
    &-container{
      display: grid;
      grid-gap: 1em;
      grid-template-columns: repeat(2, 1fr);
      text-align: center;
    }
  }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 850px) {
  .pricing {
    background-color: white;
    width: 100%;
    margin: 20px auto;
    top: 50px;
    &-container{
      display: grid;
      grid-gap: 0;
      grid-template-columns: repeat(3, 1fr);
      text-align: center;
    }
  }
}
