<header class="header">
  <nav class="navi header-nav">
    <input type="checkbox" id="toggle" checked>
    <label for="toggle" class="button"></label>
    <section class="menu header-menu">
      <ul>
        <li class="header-brand header-item">Globex</li>
        <li class="header-item"><a routerLink="features">Features</a></li>
        <li class="header-item"><a routerLink="pricing">Pricing</a></li>
        <li class="header-item"><a routerLink="more">Learn More</a></li>
        <li class="header-item"><a routerLink="contact">Contact Sales</a></li>
      </ul>
    </section>
  </nav>
</header>
