<footer class="footer">
  <div class="footer-row">
    <article class="footer-col-1-2 footer-item">
      <div class="footer-item-brand">
          <img src="../../../assets/logo.svg" alt="logo" height="50px">
          <span>Huge modern UI Kit containing 130+ terrific components in 11 popular categories. Each component is fully.</span>
      </div>
    </article>
    <article class="footer-col-1 footer-item">
      <span>Support</span>
      <ul>
        <li>About Us</li>
        <li>Press</li>
        <li>FAQ</li>
      </ul>
    </article>
    <article class="footer-col-1 footer-item">
      <span>Business</span>
      <ul>
        <li>Home</li>
        <li>Mobile</li>
        <li>Pricing</li>
      </ul>
    </article>
    <article class="footer-col-1 footer-item">
      <span>Community</span>
      <ul>
        <li>Developer</li>
        <li>Referrals</li>
        <li>Forum</li>
      </ul>
    </article>
    <article class="footer-col-1 footer-item">
      <ul>
        <li>
          <img src="../../../assets/world_icon.svg" alt="logo" height="20px" style="display: inline">
          <span style="display: inline">English(UK)</span>
        </li>
      </ul>
    </article>
  </div>
</footer>
